.main {
    max-width: 950px;
    margin-top: 130px;
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.review-your-order{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}
.order-list-grid{
    display: flex;
    flex-direction: row;
    
}
.product-order-info{
    flex: 2;
    display: grid;
    margin-right: 10px;
    margin-bottom: 10px;
}
.product-order-info-container{
    padding: 18px;
    border: 1px solid rgb(222 222 222);
    border-radius: 3px;
    margin-bottom:10px;
}

.delivery--day-date{
    color: rgb(0 118 0);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}
.product-image-quantity-price-info{
    display: grid;
    grid-template-columns: 1fr 1.8fr 2fr;
}
.checkout-image-container{
    width: 110px;
    margin-left: auto;
    margin-right: auto;
}
.product-image-in-checkout{
    width: 100%;
}
.name-price-quntity{
    margin-left: 10px;
    margin-right: 10px;
}
.product-name-in-checkout{
    font-size:16px;
    font-weight: 700;
    line-height: 20px;
}
.product-price-checkout{
    color: rgb(177, 39, 4);
    font-weight: 700;
    margin-top: 10px;
    margin-bottom:10px;
}
.Update-checkout ,.Delete-checkout{
    color: rgb(0, 115, 255);
    cursor: pointer;
    margin-left: 4px;
}
.Update-checkout:hover ,.Delete-checkout:hover{
    color: red;
}

.shipping-info{
    margin-left: 30px;
}
.delivery-options{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 8px;
}
.shipping-options{
    display: grid;
    grid-template-columns:24px 1fr;
    margin-bottom: 5px;
}
.shipping-checkbox-checkout{
    margin-left: 0px;
    cursor: pointer;
}

.shipping-details{
    margin-bottom: 3px;
    margin-top: 3px;
    cursor: pointer;
}
.shipping-details-time{
    color: green;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2px;
}
.shipping-detail-cost{
    font-size: 15px;
    color: grey;
}








.product-price-info{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.product-reciept-container{
    padding: 18px;
    border: 1px solid rgb(222 222 222);
}
.order-summary-reciept{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}
.payment-summary{
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 10px;
    font-size: 15px;
}
.payment-summary-order-total{
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 10px;
    font-size: 15px;
}
.payment-summary-order-total div{
    padding-top: 9px;
}
.reciept-cost-total{
    border-top: 1px solid rgb(222 222 222);
}

.order-total-reciept{
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 20px;
    color: rgb(177, 39, 4);
    font-weight: 700;
    font-size: 18px;
}
.order-total-reciept div{
    padding-top:12px ;
}
.order-total{
    border-top: 1px solid rgb(222 222 222);
    
}
.place-order-button{
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

